/* Aplicando reset no css padrão */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --white: #fff;
    --black: #000;
    --red: #730202;
  }

  body {
    background-color: var(--white);
    width: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
  }

  .left h1 {
    width: 100%;
    max-width: 560px;
    font-size: 32px;
    margin-bottom: 18px;
  }

  .form {
    position: relative;
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    z-index: 9;

  }

  .input {
    border: 1px solid var(--black);
    margin-bottom: 18px;
    padding: 0 14px;
    min-width: 100%;
    border-radius: 4px;
  }

  .form input[type="text"], .form input[type="password"], .form input[type="email"] {
    height: 49px;
  }

  .checkbox {
    display: flex;
    gap: 12px;
    margin-bottom: 18px;
   }
   
   .checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
   }

  .button { 
    height: 49px;
    background-color: var(--red);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 18px;
    cursor: pointer;
    transition: background-color 0.5s linear;
    width: 100%;
    max-width: 560px;
    z-index: 2;
  }

  .button:hover {
    background-color: #260101;
  }

  .left p {
    width: 100%;
    max-width: 560px;
    margin-bottom: 18px;
  }

  .link {
    font-size: 16px;
    font-weight: 700;
  }

  .link a {
    text-decoration: none;
    align-self: flex-start;
    color: var(--black);
    font-weight: normal;
    margin-left: 6px;
  }

  .link a:hover {
    color: var(--red);
  }


  
  .right {
    flex: 1;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 24px;
  }

  .info-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-bottom: 18px;
  }

  .subtitle {
    color: var(--white);
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 18px;
    max-width: 400px;
    padding-left: 15px;

  }

  .description {
    max-width: 400px;
    color: var(--white);
    line-height: 1.5;
    padding-left: 15px;
  }

  .form::before {
    content:'';
    position: absolute;
    background-image: url('assets/code.svg');
    background-size: 70px;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    opacity: 40%;
    z-index: 1;
    bottom: -18px;
    right: -40px;
  }

  /* RESPONSIVIDADE */

  @media (max-width: 700px) {
    .container {
        flex-direction: column;
        min-height: 100vh;
    }

    .left {
        width: 85%;
        padding: 24px 0;
    }

    .right {
        padding: 32px 0;
        width: 100%;
        height: 100%;
    }

  }

  @media (max-width: 500px){
    .info-img {
        width: 84%;
    }

    .subtitle {
        font-size: 30px;
    }
  }